.AppIcon {
    // background-image: url(../assets/visuals/icons/app/maskable-icon-512x512.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    aspect-ratio: 1 / 1;
}
