.SplashScreen {
    // background-image: url(../assets/visuals/icons/app/splash.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    aspect-ratio: 1 / 1;
}
