@use 'ui-color';
@use 'text';
/* form-control appearance */

label {
    @apply ml-4;
}

input,
select {
    &:not(.form-control-inline-block) {
        width: 100%;
    }

    &.form-control--invalid {
        @apply border-solid border-x border-y dark:border-wild-watermelon-300 border-wild-watermelon-700;
    }
    &.form-control--dirty {
        @extend %text-info;
    }
}

.form-control__validation-error-message {
    @extend %text-error;
}

.btn {
    @extend %secondary-interactable-declaration;

    &:not(.text-left),
    &:not(.text-right) {
        @apply text-center;
    }
}

input,
select {
    @apply dark:bg-shade-950 bg-shade-100;
    @apply border-thin dark:border-shade-500 border-shade-500;
}

input,
select,
button,
.btn,
button.btn {
    display: block;

    @apply px-4 py-2;
    @apply opacity-100;

    &.form-control-compact {
        @apply px-4 py-1;
    }
    &.form-control-bloat {
        @apply px-6 py-4;
    }

    &.form-control-inline-block {
        display: inline-block;
    }
}

/* form layout */

form {
    @apply flex flex-col gap-8;

    .form-body {
        @apply flex flex-col gap-4;

        .form-field {
            @apply flex flex-col gap-1;
        }

        fieldset {
            @apply bg-shade-150 dark:bg-shade-900 p-4;
            @apply flex flex-col gap-8;
            @apply pb-6;
        }
    }

    .form-bottom-controls {
        @apply bg-shade-250 dark:bg-shade-800;
        @apply flex;
        @apply sticky bottom-0;
        &.lift {
            @apply bottom-6;
        }

        button {
            @apply flex-grow;
        }
    }
}

.full-screen-form {
    @apply fixed top-0 left-0;

    // width: 100vw;
    @apply w-full;
    height: 100dvh;
    overflow-y: auto;

    @apply bg-shade-200 dark:bg-shade-850;

    .form-body {
        @apply p-4;
    }
}

[disabled],
.disabled {
    @apply cursor-not-allowed;
}
