.dvh-100,
.h-screen {
    height: 100dvh;
}

.vw-100 {
    @apply w-screen;
}

@each $i in 1, 2, 4, 6, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 60, 72, 84,
    96, 128, 256, 512, 1024, 2048, 3072, 4096
{
    @each $direction in top, bottom, left, right {
        .#{'' + $direction}-#{'' + $i} {
            #{'' + $direction}: #{0.25 * $i}rem;
        }
    }
    .w-#{$i} {
        width: #{0.25 * $i}rem;
    }
    .h-#{$i} {
        height: #{0.25 * $i}rem;
    }
}
