/* ***** */
/* Flash */
/* ***** */

/* implementation with keyframe animation */

@keyframes flash {
    0% {
        box-shadow: 0px 0px 0px 4px rgba(0, 148, 255, 0);
    }
    10% {
        box-shadow: 0px 0px 4px 4px rgba(0, 148, 255, 5);
    }
    11% {
        box-shadow: 0px 0px 4px 4px rgba(0, 148, 255, 1);
    }
    25% {
        box-shadow: 0px 0px 8px 1px rgba(0, 148, 255, 1);
    }
    100% {
        box-shadow: 0px 0px 0px 1px rgba(0, 148, 255, 0);
    }
}

.flash {
    animation-name: flash;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* implementation with transition */

.flash-target {
    transition:
        box-shadow 0.5s,
        background-color 0.6s;
}

%glow {
    box-shadow: 0px 0px 4px 4px rgb(var(--color-picton-blue-400));
    background-color: rgb(var(--color-picton-blue-400));
}

.flash-2 {
    @extend %glow;
}
