@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* rgb(255 115 179 / <alpha-value>) */
        --color-picton-blue-400: 30, 165, 255;

        --color-shade-50: 243, 243, 243;
        --color-shade-1000: 15, 15, 15;
        --color-shade-100: 231, 231, 231;
        --color-shade-900: 39, 39, 39;

        --foreground-primary-dark: var(--color-shade-50);
        --foreground-primary: var(--color-shade-1000);
        --background-primary: var(--color-shade-100);
        --background-primary-dark: var(--color-shade-900);
    }
}
