$levelColors: (
    /*                                      ----dark----    ---light----    ----text-----      */
        /*              color                   bg2     fg3    bg4      fg5     dark 6  light 7    */
        /*_________________________________________________________________________________________*/
        high-contrast: ('shade', 0, 'Infinity', 'Infinity', 0, 0, 'Infinity'),
    secondary: ('shade', 600, 150, 300, 850, 550, 550),
    primary: ('shade', 100, 1000, 900, 50, 50, 1000),
    error: ('wild-watermelon', 400, 50, 500, 50, 300, 700),
    warning: ('rose-of-sharon', 400, 950, 500, 50, 200, 600),
    success: ('mint-green', 700, 50, 700, 50, 300, 700),
    info: ('picton-blue', 600, 50, 700, 50, 300, 600),
    purple: ('perfume-purple', 400, 50, 500, 50, 400, 700),
    transparent: ('transparent', 1050, 150, 200, 850, 1050, 200)
);

@each $level, $config in $levelColors {
    $text-dark: nth($config, 6);
    $text-light: nth($config, 7);
    $color: nth($config, 1);
    $bg-dark: nth($config, 2);
    $bg-light: nth($config, 4);
    $fg-dark: nth($config, 3);
    $fg-light: nth($config, 5);
    $dark-active: #ff0000; // Dummy initial value
    $light-active: #00ff00; // Dummy initial value

    @if $bg-dark < 100 {
        $dark-active: $bg-dark + 100;
    } @else {
        $dark-active: $bg-dark - 100;
    }
    @if $bg-light == 'Infinity' {
        $light-active: 950;
    } @else {
        $light-active: $bg-light - 100;
    }

    $bg-color: 'dark:bg-#{$color}-#{$bg-dark} bg-#{$color}-#{$bg-light}';
    $bg-color-active: 'dark:bg-#{$color}-#{$dark-active} bg-#{$color}-#{$light-active}';
    $fg-color: 'dark:text-#{$color}-#{$fg-dark} text-#{$color}-#{$fg-light}';
    $text-color: 'dark:text-#{$color}-#{$text-dark} text-#{$color}-#{$text-light}';
    $border-color: 'dark:border-#{$color}-#{$text-dark} border-#{$color}-#{$text-light}';

    %#{'' + $level}-declaration {
        @apply #{$bg-color};
        @apply #{$fg-color};
    }

    %#{'' + $level}-interactable-declaration {
        @extend %#{'' + $level}-declaration;

        &.btn,
        &.interactable {
            &:hover:not(:disabled, .disabled),
            &.active {
                @apply #{$bg-color-active};
            }
        }
    }

    .bg-#{'' + $level},
    .btn-#{'' + $level} {
        @extend %#{'' + $level}-interactable-declaration;
    }

    %text-#{'' + $level} {
        @apply #{$text-color};
    }
    .text-#{'' + $level} {
        @extend %text-#{'' + $level};
    }

    %border-#{'' + $level} {
        @apply #{$text-color};
    }
    .border-#{'' + $level} {
        @extend %border-#{'' + $level};
    }
}

%interactable {
    &:disabled,
    &.disabled:not(button) {
        @apply opacity-35;
    }
}

.btn,
.interactable {
    @extend %interactable;
}

$colorNames: (
    'wild-watermelon',
    'picton-blue',
    'buttermilk-yellow',
    'rose-of-sharon',
    'mint-green',
    'perfume-purple'
);

$colorShades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);

@each $colorName in $colorNames {
    @each $colorShade in $colorShades {
        .foreground-#{$colorName}-#{$colorShade} {
            @apply text-#{$colorName}-#{$colorShade};
        }
        .background-#{$colorName}-#{$colorShade} {
            @apply bg-#{$colorName}-#{$colorShade};
        }
        .hover:background-#{$colorName}-#{$colorShade} {
            @apply hover:bg-#{$colorName}-#{$colorShade};
        }
        .border-color-#{$colorName}-#{$colorShade} {
            @apply border-#{$colorName}-#{$colorShade};
        }
    }
}

body {
    @apply bg-shade-200 dark:bg-shade-900 text-shade-850 dark:text-shade-200;
}

.bg-view {
    @apply dark:bg-shade-850 bg-shade-150;
}

.bg-card {
    @apply dark:bg-shade-750 bg-shade-0;
}
