@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-wrapper {
    display: inline-block;
    animation: spin 5s linear infinite;
}

.spinner {
    display: inline-block;
    animation-name: spin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    border: dashed 1px;
}

.spinner-2 {
    // border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-source: linear-gradient(to right, red, yellow);
    border-width: 4px;
    border-style: solid;
}
