.app-menu {
    & > * {
        @apply block;
        @apply py-4;

        &:hover {
            @apply dark:bg-shade-900 bg-shade-150;
        }

        &:not(:last-child) {
            @apply border-b dark:border-shade-800 border-shade-250;
        }
    }
}
